* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--backgroundColour);
  padding-left: 5%;
  padding-right: 5%;
  --backgroundColour: hsl(0, 0%, 100%);
  --headerbackground: hsl(225, 100%, 98%);
  --boxColour: hsl(227, 47%, 96%);
  --lighttextColour: hsl(228, 12%, 44%);
  --darktextColour: hsl(230, 17%, 14%);
}

body.dark {
  --backgroundColour: hsl(230, 17%, 14%);
  --headerbackground: hsl(232, 19%, 15%);
  --boxColour: hsl(228, 28%, 20%);
  --lighttextColour: hsl(228, 34%, 66%);
  --darktextColour: hsl(0, 0%, 100%);
}

p1 {
  font-size: 14px;
}

p2 {
  font-size: 14px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--headerbackground);
}

.header h1 {
  color: var(--darktextColour);
}

.header p1 {
  color: var(--lighttextColour);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.summaries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -20px;
}

.summaries h1 {
  color: var(--darktextColour);
}

.summaries p1 {
  color: var(--lighttextColour);
}

.summaries p2 {
  color: var(--lighttextColour);
}

.site {
  min-width: 250px;
  width: 20%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}

.facebook {
  background-image: linear-gradient(#198ff5 5px, var(--boxColour) 5px);
}

.twitter {
  background-image: linear-gradient(#1ca0f2 5px, var(--boxColour) 5px);
}

.instagram {
  background-image: linear-gradient(linear-gradient(#fdc468, #df4996) 5px, var(--boxColour) 5px);
}

.youtube {
  background-image: linear-gradient(#c4032a 5px, var(--boxColour) 5px);
}

.h2 {
  color: var(--darktextColour);
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -20px;
}

.change {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr;
  min-width: 250px;
  width: 20%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: var(--boxColour);
}

.change h1 {
  color: var(--darktextColour);
}

.change p1 {
  color: var(--lighttextColour);
}

.increase {
  color: #1db489;
}

.decrease {
  color: #dc414c;
}
/*# sourceMappingURL=Index.css.map */